@model CargoApp.Modules.Users.Core.EmailTemplates.PasswordRecovery.PasswordRecoveryMail

<style>
    
</style>

<div class="container">
    Please click <a href="@Model.FrontUrl/password-recovery/@Model.Hash">here</a> to recovery your password. <br />
    
    Or copy link from below
    <a href="@Model.FrontUrl/password-recovery/@Model.Hash">@Model.FrontUrl/Recovery/@Model.Hash</a> <br />
    
    If you didn't start the process, please contact with us <a href="mailto:@Model.ContactEmail">@Model.ContactEmail`</a>

</div>