<mat-drawer-container class="container" *ngIf="isAuthorized">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/locations" *ngIf="hasAccess(PermissionEnum.Locations)">Locations</mat-list-item>
      <mat-list-item routerLink="/workers" *ngIf="hasAccess(PermissionEnum.Workers)">Workers</mat-list-item>
      <mat-list-item routerLink="/cars" *ngIf="hasAccess(PermissionEnum.Cars)">Cars</mat-list-item>
      <mat-list-item routerLink="/cargoes" *ngIf="hasAccess(PermissionEnum.Cargoes)">Cargoes</mat-list-item>
      <mat-list-item routerLink="/settings">Settings</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <ng-container *ngTemplateOutlet="content"></ng-container>
</mat-drawer-container>


<span *ngIf="!isAuthorized">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</span>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
