<mat-drawer-container class="container" *ngIf="isAuthorized">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item >Locations</mat-list-item>
      <mat-list-item>Workers</mat-list-item>
      <mat-list-item>Cars</mat-list-item>
      <mat-list-item>Cargo</mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <ng-container *ngTemplateOutlet="content"></ng-container>
</mat-drawer-container>


<span *ngIf="!isAuthorized">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</span>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
