@model CargoApp.Modules.Users.Core.EmailTemplates.NewUser.WelcomeMail



<div class="container">
<p>Welcome in cargo system</p>
<p>please click <a href="@Model.FrontUrl/set-password/@Model.SetPasswordHash">here</a> to set your password, or copy link from below</p>
<a href="@Model.FrontUrl/set-password/@Model.SetPasswordHash">@Model.FrontUrl/set-password/@Model.SetPasswordHash</a>
</div>